@import './function/index';
@import './mixin/index';
@import './library/index';
@import './themes/index';

@import './pages/signin';
@import './pangandaran';
@import './header';
@import './pagination';
@import './sidenav';
@import './utilities';
@import './loader';
@import './progressbar';
@import "./loaders/index";
@import "./animation";
@import "./preloader";

.disabled-scroll {
  overflow: hidden !important;
}

.image-profile-user {
  width: 160.5px;
  height: 160.5px;
  object-fit: cover;
}

.image-circle {
  border-radius: 50%;
  object-fit: cover;
}

/** TASKS */
@include media-breakpoint-down(sm) {
  .sub-header {
    padding-left: 0 !important;
  }

  .task-details {
    width: 100% !important;
  }
}

/** MENU MANAGEMENT */
.menu-management {
  .accordion-item {
    border: none;
  }

  .accordion-header {
    cursor: pointer;
    background: var(--primary-800);
    color: var(--white);
  }

  .accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--primary-800);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  }

  .accordion-body {
    padding-top: 0.5rem;
    background: var(--black-25);
  }

  .accordion-body>div {
    background: var(--white);
    margin-bottom: 0.15rem;
  }

  .nav-link {
    padding: 0.6rem 1rem;
    margin-bottom: 0.1rem;
    border-radius: 0;
    font-weight: 400;
    border-left: 3px solid var(--primary);
    color: var(--black-600);

    &:not(.no-hover-bg) {

      &:hover,
      &:focus {
        color: var(--black) !important;
        background-color: var(--primary-10);
      }
    }

    &.active:not(.no-hover-bg) {
      color: var(--black) !important;
      background-color: var(--primary-10);
      border-color: var(--primary);
    }
  }

  .accordion-item:last-of-type .accordion-button.collapsed {
    background: var(--white);
  }

  .accordion-button::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjUlEQVRIie2TQQqEMBAEO/sxn+PRp6w56WutvQwaRgNRI7iQPgUy6eoeiNRUU5jOvPk8FaYBGuDfAUAAulIToANC6XAAIrAAg7vb/WSgt9n5CJJbEZKCpK+HeHNJk82Wy1qMFnhtkjZIkpNLfxrCpnvmDhITCO4cL5tnmqS6nrwAUs/8AFLf3EGeMX+tfmvlA0hAL4ukAAAAAElFTkSuQmCC);
    background-color: var(--primary-800);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjUlEQVRIie2TQQqEMBAEO/sxn+PRp6w56WutvQwaRgNRI7iQPgUy6eoeiNRUU5jOvPk8FaYBGuDfAUAAulIToANC6XAAIrAAg7vb/WSgt9n5CJJbEZKCpK+HeHNJk82Wy1qMFnhtkjZIkpNLfxrCpnvmDhITCO4cL5tnmqS6nrwAUs/8AFLf3EGeMX+tfmvlA0hAL4ukAAAAAElFTkSuQmCC) !important;
  }

  .icon {
    width: 1.6rem;
    display: block;
    float: left;
  }
}


.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

body[passwd-change-warning="true"] {
  .sidenav {
    margin-top: 3.65rem !important;
  }
}

// html[theme-mode=dark] body{
//   --body-bg: var(--black-50) !important;
// }


.border-black {
  border-color: 1px var(--black) !important;

  td,
  th {
    border-color: var(--black) !important;
  }
}


// jqwidget

.jqx-item.text-black div {
  color: var(--black);
}

.jqx-widget-header {
  background: var(--white);
}

.jqx-widget-header-light {
  color: var(--black);
}

.jqx-widget-content,
.jqx-grid-cell-pinned,
.jqx-grid-cell {
  background: var(--white);
  color: var(--black);
}

.jqx-widget-light .jqx-grid-cell {
  color: var(--black);
}

.jqx-grid-cell-hover-light {
  color: var(--black);
}

.jqx-widget-light .jqx-grid-column-header-light {
  color: var(--black);
}

.jqx-widget-light .jqx-grid-column-header,
.jqx-widget-light .jqx-grid-group-cell {
  background: var(--white);
}

.jqx-button-light,
.jqx-button-light.jqx-fill-state-normal-light {
  background-color: var(--white);
  color: var(--black);
}